
#userInput {
  padding: 1rem;
  max-width: 30rem;
  margin: 2rem auto;
  border-radius: 4px;
  background: linear-gradient(180deg, #303e7e, #2b6999);
}

.inputGroup {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
}

#userInput label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

#userInput input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #767bc0;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #c2cce9;
  font-size: 1rem;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.355);
}
