* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#30313b, #1a1b1f);
  color: #e1e1ee;
}

.center {
  text-align: center;
}
